@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fade-in 1s ease-in-out;
}

@keyframes slide-in {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes slide-in-left {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes slide-up {
  0% {
    transform: translateY(100vh);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slide-up-prompt {
  0% {
    transform: translate(-50%, 100vh);
  }
  100% {
    transform: translate(-50%, 0);
  }
}
@keyframes slide-down-prompt {
  0% {
    transform: translate(-50%, 0);
  }
  100% {
    transform: translate(-50%, 100vh);
  }
}

@keyframes slide-out {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes slide-up-footer {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
